In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('F:/more work/the netherlands/4 wave/wave5/MultianddiaryAndTtAndPAndHHMerged.csv')
data1.drop('Unnamed: 0',axis=1,inplace=True)

In [3]:
data2 = pd.read_csv('F:/more work/the netherlands/4 wave/wave6/MultianddiaryAndTtAndPAndHHMerged.csv')
data2.drop('Unnamed: 0',axis=1,inplace=True)
data3 = pd.read_csv('F:/more work/the netherlands/4 wave/wave7/MultianddiaryAndTtAndPAndHHMerged.csv')
data3.drop('Unnamed: 0',axis=1,inplace=True)
data4 = pd.read_csv('F:/more work/the netherlands/4 wave/wave8/MultianddiaryAndTtAndPAndHHMerged.csv')
data4.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
data1["multimodal"].value_counts(dropna=False)

0    35871
1     3293
Name: multimodal, dtype: int64

In [5]:
data2["multimodal"].value_counts(dropna=False)

0    40645
1     3957
Name: multimodal, dtype: int64

In [6]:
data3["multimodal"].value_counts(dropna=False)

0    35367
1     3365
Name: multimodal, dtype: int64

In [7]:

data4["multimodal"].value_counts(dropna=False)

0    24695
1      948
Name: multimodal, dtype: int64

In [8]:
fianldataformodel = pd.concat([data1,data2,data3,data4],ignore_index=True, sort=False)

In [9]:
fianldataformodel["multimodal"].value_counts(dropna=False)

0    136578
1     11563
Name: multimodal, dtype: int64

In [10]:
fianldataformodel = fianldataformodel.rename(columns={"Time_driv":"CarTravelTime1","Time_traffic_driv":"CarTravelTimeTraffic1","Dist_driv":"CarDistance1","Status_driv":"CarStatus1","Time_bike":"BikeTravelTime1","Dist_bike":"BikeDistance1","Status_bike":"BikeStatus1","Time_walk":"WalkTravelTime1", "Dist_walk":"WalkDistance1","Status_walk":"WalkStatus1","Dist_transit":"TransitDistance1","Time_transit":"TransitDuration1","Status_transit":"TransitStatus1","Only_walking_transit":"Transit_only_walking1"})

In [11]:
fianldataformodel["Transit_only_walking"] .value_counts(dropna=False)

NaN    86410
0.0    42588
1.0    19143
Name: Transit_only_walking, dtype: int64

In [12]:
cc = ['BikeDistance', 'BikeTravelTime', 'BikeStatus', 'WalkDistance',
       'WalkTravelTime', 'WalkStatus', 'CarDistance', 'CarTravelTime',
       'CarTravelTimeTraffic', 'CarStatus', 'TransitStatus', 'TransitDistance',
       'TransitDuration', 'Transit_only_walking']
for i in cc:
    p="1"
    fianldataformodel[i].replace(np.nan,0,inplace=True)
    fianldataformodel[i+p].replace(np.nan,0,inplace=True)
    #fianldataformodel[i] = fianldataformodel[i+p] + fianldataformodel[i]

In [13]:
fianldataformodel["BikeDistance"] = fianldataformodel["BikeDistance1"] + fianldataformodel["BikeDistance"] 
fianldataformodel["BikeTravelTime"] = fianldataformodel["BikeTravelTime1"] + fianldataformodel["BikeTravelTime"]
#fianldataformodel["BikeStatus"] = fianldataformodel["BikeStatus1"] + fianldataformodel["BikeStatus"]
fianldataformodel["WalkDistance"] = fianldataformodel["WalkDistance1"] + fianldataformodel["WalkDistance"]
fianldataformodel["WalkTravelTime"] = fianldataformodel["WalkTravelTime1"] + fianldataformodel["WalkTravelTime"]
#fianldataformodel["WalkStatus"] = fianldataformodel["WalkStatus1"] + fianldataformodel["WalkStatus"]
fianldataformodel["CarDistance"] = fianldataformodel["CarDistance1"] + fianldataformodel["CarDistance"]
fianldataformodel["CarTravelTime"] = fianldataformodel["CarTravelTime1"] + fianldataformodel["CarTravelTime"]
fianldataformodel["CarTravelTimeTraffic"] = fianldataformodel["CarTravelTimeTraffic1"] + fianldataformodel["CarTravelTimeTraffic"]
#fianldataformodel["CarStatus"] = fianldataformodel["CarStatus1"] + fianldataformodel["CarStatus"]
#fianldataformodel["TransitStatus"] = fianldataformodel["TransitStatus1"] + fianldataformodel["TransitStatus"]
fianldataformodel["TransitDistance"] = fianldataformodel["TransitDistance1"] + fianldataformodel["TransitDistance"]
fianldataformodel["TransitDuration"] = fianldataformodel["TransitDuration1"] + fianldataformodel["TransitDuration"]
fianldataformodel["Transit_only_walking"] = fianldataformodel["Transit_only_walking1"] + fianldataformodel["Transit_only_walking"]

In [14]:
fianldataformodel.drop(['P_VALID_y','CarTravelTime1', 'CarTravelTimeTraffic1', 'CarDistance1',
       'CarStatus1', 'BikeTravelTime1', 'BikeDistance1', 'BikeStatus1',
       'WalkTravelTime1', 'WalkDistance1', 'WalkStatus1', 'TransitDistance1',
       'TransitDuration1', 'TransitStatus1', 'Transit_only_walking1'],axis=1,inplace=True)

In [15]:
fianldataformodel = fianldataformodel[fianldataformodel["P_VALID_x"]=="person completed the questionnaire and completed the diary"]
fianldataformodel.drop(["P_VALID_x"],axis=1,inplace=True)

In [16]:
fianldataformodel = fianldataformodel[fianldataformodel['MARKERING_REISTIJD1']== 'unmarked']
fianldataformodel = fianldataformodel[fianldataformodel['MARKERING_REISTIJD2']== 'unmarked']
fianldataformodel = fianldataformodel[fianldataformodel['MARKERING_AFSTAND']== 'unmarked']
fianldataformodel = fianldataformodel[fianldataformodel['MARKERING_OVERIG']== 'unmarked']

In [17]:
fianldataformodel=fianldataformodel[fianldataformodel["BikeDistance"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["BikeTravelTime"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["WalkDistance"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["WalkTravelTime"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["CarDistance"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["CarTravelTime"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["CarTravelTimeTraffic"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["TransitDistance"]!=0]
fianldataformodel=fianldataformodel[fianldataformodel["TransitDuration"]!=0]

In [18]:
fianldataformodel["multimodal"].value_counts(dropna=False)

0    124033
1     10418
Name: multimodal, dtype: int64

In [19]:
fianldataformodel.drop(['MARKERING_VVM',	'MARKERING_REISTIJD1',	'MARKERING_REISTIJD2',	'MARKERING_AFSTAND',	'MARKERING_OVERIG','VERPLNR','DiaryID','TOER_TYPE'],axis=1,inplace=True)

In [20]:
fianldataformodel.dropna(inplace=True)

In [21]:
fianldataformodel.columns

Index(['HHID', 'NID', 'PERSID', 'JAAR', 'VPLID', 'TOER', 'AANTRIT_x', 'DOEL',
       'KMOTIEF', 'KHVM', 'KRVM', 'DAGSOORT', 'AFSTV', 'AFSTV_ORG',
       'G_AFSTAND', 'KAFSTV', 'REISDUUR', 'KREISDUUR', 'AANTRIT_y', 'KRVM_x',
       'multimodal', 'KRVM_y', 'KRVM_F', 'Mode_Car', 'Mode__Other', 'Mode_PT',
       'Mode_Bicycle', 'Mode_Choices1', 'Mode_Choices2', 'Mode_Choices3',
       'Mode_Choices4', 'Mode_Choices5', 'GESLACHT', 'OPLEIDING', 'WERKZAAM',
       'VVM_WERK_w5', 'RIJBEWIJS', 'PAUTO', 'PBROM', 'PFIETS', 'PEBIKE',
       'TYPE_OVKAART3', 'TYPE_OVKAART5', 'KLEEFT2', 'HHAUTO_N', 'HHPARK1',
       'HHPARK2', 'HHPARK3', 'HHPARK4', 'BikeDistance', 'BikeTravelTime',
       'BikeStatus', 'WalkDistance', 'WalkTravelTime', 'WalkStatus',
       'CarDistance', 'CarTravelTime', 'CarTravelTimeTraffic', 'CarStatus',
       'TransitStatus', 'TransitDistance', 'TransitDuration',
       'Transit_only_walking'],
      dtype='object')

In [22]:
fianldataformodel['RIJBEWIJS'].value_counts()

Person has a driver's license                  116440
Person does not have a driver's license         11401
Not asked, person younger than 12 years old      2871
Unknown                                          1230
Not asked, person younger than 16 years old       873
Name: RIJBEWIJS, dtype: int64

In [23]:
fianldataformodel['TOER'].replace(['No' , 'On this day the person did not take a trip' , 'Yes'],[0,0,1],inplace=True)

In [24]:


fianldataformodel['DOEL'].replace(['To home' , 'Work' , 'Business-related visit in work context' , 'Transport as a profession' , 'Dropping off, picking up people' , 'Delivering, picking up goods' , 'Following education study, courses' , 'Shopping, doing grocery shopping' , 'Visitation' , 'Touring, hiking' , 'Sports, hobby' , 'Other leisure time activities' , 'Services, personal care' , 'Other purpose' , 'Unknown' , 'On this day the person did not take a trip'] , [1,2,3,4,5,6,7,8,9,10,11,12,13,14,0,0],inplace=True)
new = pd.get_dummies(fianldataformodel['DOEL'],prefix = 'DOEL')
fianldataformodel = fianldataformodel.join(new)
fianldataformodel.drop('DOEL_0' , axis=1,inplace=True)

In [25]:

fianldataformodel['KMOTIEF'].replace(['To and from work' , 'Business-related visit in work context' , 'Services, personal care' , 'Shopping, doing grocery shopping' , 'Following education study, courses' , 'Visitation' , 'Social recreational other' , 'Touring, hiking' , 'Other purpose' , 'Unknown' , 'On this day the person did not take a trip'] , [1,2,3,4,5,6,7,8,0,0,0],inplace=True)
new = pd.get_dummies(fianldataformodel['KMOTIEF'],prefix = 'KMOTIEF')
fianldataformodel = fianldataformodel.join(new)
fianldataformodel.drop('KMOTIEF_0' , axis=1,inplace=True)

In [26]:

fianldataformodel['KHVM'].replace(['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other' , 'Means of transport not stored' , 'On this day the person did not take a trip'],[1,2,3,4,5,6,7,0,0,0],inplace=True)
new = pd.get_dummies(fianldataformodel['KHVM'],prefix = 'KHVM')
fianldataformodel = fianldataformodel.join(new)
fianldataformodel.drop('KHVM_0' , axis=1,inplace=True)

In [27]:
fianldataformodel['KRVM'].replace(['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other' , 'Means of transport not stored' , 'On this day the person did not take a trip'],[1,2,3,4,5,6,7,0,0,0],inplace=True)
new = pd.get_dummies(fianldataformodel['KRVM'],prefix = 'KRVM')
fianldataformodel = fianldataformodel.join(new)
fianldataformodel.drop('KRVM_0' , axis=1,inplace=True)

In [28]:
fianldataformodel['DAGSOORT'].replace(['weekday' , 'weekend'] , [1,2] , inplace=True)
new = pd.get_dummies(fianldataformodel['DAGSOORT'],prefix = 'DAGSOORT')
fianldataformodel = fianldataformodel.join(new)

In [29]:
fianldataformodel['KAFSTV'].replace(['0,1-0,5 km' , '0.5-1.0 km' , '1.0-2.5 km' , '2.5-3.7 km' , '3.7-5.0 km' , '5.0-7.5 km' , '7.5-10 km' , '10-15 km' , '15-20 km' , '20-30 km' , '30-40 km' , '40-50 km' , '>50 km'] , [1,2,3,4,5,6,7,8,9,10,11,12,13], inplace=True)
new = pd.get_dummies(fianldataformodel['KAFSTV'],prefix = 'KAFSTV')
fianldataformodel = fianldataformodel.join(new)

In [30]:
fianldataformodel['KREISDUUR'].replace(['1 to 5 minutes' , '5 to 10 minutes' , '10 to 15 minutes' , '15 to 20 minutes' , '20 to 25 minutes' , '25 to 30 minutes' , '30 to 45 minutes' , '45 to 60 minutes' , '60 to 90 minutes' , '90 to 120 minutes' , '120 minutes or more'],[1,2,3,4,5,6,7,8,9,10,11],inplace=True)
new = pd.get_dummies(fianldataformodel['KREISDUUR'],prefix = 'KREISDUUR')
fianldataformodel = fianldataformodel.join(new)

In [31]:
fianldataformodel['GESLACHT'].replace(['Man' , 'Woman'] , [1,0],inplace=True)

In [32]:
fianldataformodel['OPLEIDING'].replace(['no education/ primary education' ,'primary education' , 'no education', 'LBO \ VBO \ VMBO (vocational educational programs)' , "MAVO\\1st 3 years HAVO-VWO\VMBO (junior years high school education)" , 'MBO' , 'HAVO and VWO senior high school year(s) \ university propaedeutic diploma' , "HBO\WO (Bachelor's degree)" , "HBO / WO master's or doctoral degree" , "Don't know \ won't say" , 'No data known, no imputation from 2018 possible'] , [1,1,1,3,4,5,6,7,8,0,0] , inplace=True)

new = pd.get_dummies(fianldataformodel['OPLEIDING'],prefix='OPLEIDING')
fianldataformodel = fianldataformodel.join(new)
fianldataformodel.drop('OPLEIDING_0', axis=1,inplace=True)

In [33]:
fianldataformodel['WERKZAAM'].replace(['not working' , 'active' , 'whether or not employed unknown'] , [0,1,0] , inplace=True)

In [34]:

fianldataformodel['VVM_WERK_w5'].replace(['car (as driver)' , 'car (as passenger)' , 'Motorcycle' , 'Train' , 'bus / tram / metro' , 'moped, scooter (max. 25 km \ h, helmet not required)' , 'moped, scooter (max. 45 km \ h, helmet required)' , 'bike' , 'Electric bike (e-bike) (max. 25 km \ h, helmet not required)' , 'Speed ??pedelec (max. 45 km \ h, helmet required)' , 'Walking' , 'Mobility scooter \ Canta \ wheelchair' , 'Other' , 'Not applicable' , 'not asked, person is unemployed' , 'person did not complete the questionnaire', 'remaining'] , [1,2,3,4,5,6,7,8,9,10,11,12,0,0,0,0,0] , inplace=True)
new = pd.get_dummies(fianldataformodel['VVM_WERK_w5'],prefix='VVM_WERK_w5')
fianldataformodel = fianldataformodel.join(new)
fianldataformodel.drop('VVM_WERK_w5_0', axis=1,inplace=True)

In [35]:

fianldataformodel['RIJBEWIJS'].replace(["Person has a driver's license" , "Person does not have a driver's license" , "Unknown" , 'Not asked, person younger than 12 years old'] , [1,0,0,0],inplace=True)


fianldataformodel['PAUTO'].replace(['No' , 'Yes' , 'Person does not own any vehicle'] , [0,1,0] , inplace=True)

fianldataformodel['PBROM'].replace(['No' , 'Yes' , 'Person does not own any vehicle'] , [0,1,0] , inplace=True)


fianldataformodel['PFIETS'].replace(['No' , 'Yes' , 'Person does not own any vehicle'] , [0,1,0] , inplace=True)


fianldataformodel['PEBIKE'].replace(['No' , 'Yes' , 'Person does not own any vehicle'] , [0,1,0] , inplace=True)


fianldataformodel['TYPE_OVKAART3'].replace(['No' , 'Yes' , 'person does not have a personal OV chip card'] , [0,1,0] , inplace=True)


fianldataformodel['TYPE_OVKAART5'].replace(['No' , 'Yes' , 'person does not have a personal OV chip card'] , [0,1,0] , inplace=True)

In [36]:
fianldataformodel['KLEEFT2'].replace(['<12 years old' , '12-17 years old' , '18-24 years old' , '25-29 years old' , '30-39 years old' , '40-49 years old' , '50-59 years old' , '60-69 years old' , '70-79 years old' , '80 years old and older'] , [1,2,3,4,5,6,7,8,9,10] , inplace=True)

new = pd.get_dummies(fianldataformodel['KLEEFT2'],prefix='KLEEFT2')
fianldataformodel = fianldataformodel.join(new)

In [37]:


new = pd.get_dummies(fianldataformodel['HHAUTO_N'],prefix='HHAUTO_N')
fianldataformodel = fianldataformodel.join(new)
fianldataformodel.drop('HHAUTO_N_0.0', axis=1,inplace=True)



fianldataformodel["HHPARK1"].replace(['Yes','No','no household questionnaire, no imputation from 2016 possible','no household questionnaire, no imputation from 2019 possible','no household questionnaire, no imputation from 2017 possible'],[1,0,0,0,0],inplace=True)
fianldataformodel["HHPARK2"].replace(['Yes','No','no household questionnaire, no imputation from 2016 possible','no household questionnaire, no imputation from 2019 possible','no household questionnaire, no imputation from 2017 possible'],[1,0,0,0,0],inplace=True)
fianldataformodel["HHPARK3"].replace(['Yes','No','no household questionnaire, no imputation from 2016 possible','no household questionnaire, no imputation from 2019 possible','no household questionnaire, no imputation from 2017 possible'],[1,0,0,0,0],inplace=True)
fianldataformodel["HHPARK4"].replace(['Yes','No','no household questionnaire, no imputation from 2016 possible','no household questionnaire, no imputation from 2019 possible','no household questionnaire, no imputation from 2017 possible'],[1,0,0,0,0],inplace=True)


fianldataformodel['BikeStatus'].replace(['OK'],[1],inplace=True)
fianldataformodel['WalkStatus'].replace(['OK'],[1],inplace=True)
fianldataformodel['CarStatus'].replace(['OK'],[1],inplace=True)
fianldataformodel['TransitStatus'].replace(['OK'],[1],inplace=True)

In [38]:
fianldataformodel["Transit_only_walking"].value_counts(dropna=False)

0.0    94585
1.0    38230
Name: Transit_only_walking, dtype: int64

In [39]:
fianldataformodel

,HHID,NID,PERSID,JAAR,VPLID,TOER,AANTRIT_x,DOEL,KMOTIEF,KHVM,...,KLEEFT2_7,KLEEFT2_8,KLEEFT2_9,KLEEFT2_10,HHAUTO_N_1.0,HHAUTO_N_2.0,HHAUTO_N_3.0,HHAUTO_N_4.0,HHAUTO_N_5.0,HHAUTO_N_6.0
0,30021085.0,1,3.002109e+09,2017.0,530190.0,0,1.0,8,4,1,...,0,0,1,0,1,0,0,0,0,0
1,30021085.0,2,3.002109e+09,2017.0,530192.0,0,1.0,1,4,1,...,0,0,1,0,1,0,0,0,0,0
2,30021085.0,3,3.002109e+09,2017.0,530194.0,0,1.0,13,3,1,...,0,0,1,0,1,0,0,0,0,0
3,30021085.0,92,3.002109e+09,2017.0,530414.0,0,1.0,1,3,1,...,0,0,1,0,1,0,0,0,0,0
4,30021085.0,93,3.002109e+09,2017.0,530420.0,0,1.0,13,3,1,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148136,30710737.0,35825,3.071074e+09,2020.0,78628102.0,0,1.0,1,3,1,...,1,0,0,0,1,0,0,0,0,0
148137,30710737.0,35826,3.071074e+09,2020.0,78628301.0,0,1.0,11,7,1,...,1,0,0,0,1,0,0,0,0,0
148138,30710737.0,35827,3.071074e+09,2020.0,78628302.0,0,1.0,1,7,1,...,1,0,0,0,1,0,0,0,0,0
148139,30710737.0,35828,3.071074e+09,2020.0,78628303.0,0,1.0,9,6,2,...,1,0,0,0,1,0,0,0,0,0
148140,30710737.0,35829,3.071074e+09,2020.0,78628304.0,0,1.0,1,6,2,...,1,0,0,0,1,0,0,0,0,0

In [42]:
fianldataformodel.dtypes

HHID            float64
NID               int64
PERSID          float64
JAAR            float64
VPLID           float64
                 ...
HHAUTO_N_2.0      uint8
HHAUTO_N_3.0      uint8
HHAUTO_N_4.0      uint8
HHAUTO_N_5.0      uint8
HHAUTO_N_6.0      uint8
Length: 156, dtype: object

In [350]:
fianldataformodel.to_csv("F:/more work/the netherlands/4 wave/fianldataformodel.csv",index=False)