In [106]:
import pandas as pd
import numpy as np

In [107]:
MPNWAVE_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave8/MPNWAVE8_DAGBOEKdata.csv',low_memory=False)
#MPNWAVE7_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave7/MPNWAVE7_DAGBOEKdata.csv',low_memory=False)
#MPNWAVE6_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave6/MPNWAVE6_DAGBOEKdata.csv',low_memory=False)
#MPNWAVE5_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave5/MPNWAVE5_DAGBOEKdata.csv',low_memory=False)

In [108]:
"""print(len(MPNWAVE8_DAGBOEKdata))
print(len(MPNWAVE7_DAGBOEKdata))
print(len(MPNWAVE6_DAGBOEKdata))
print(len(MPNWAVE5_DAGBOEKdata))
print(len(MPNWAVE8_DAGBOEKdata)+ len(MPNWAVE7_DAGBOEKdata) +len(MPNWAVE6_DAGBOEKdata) +  len(MPNWAVE5_DAGBOEKdata))"""

'print(len(MPNWAVE8_DAGBOEKdata))\nprint(len(MPNWAVE7_DAGBOEKdata))\nprint(len(MPNWAVE6_DAGBOEKdata))\nprint(len(MPNWAVE5_DAGBOEKdata))\nprint(len(MPNWAVE8_DAGBOEKdata)+ len(MPNWAVE7_DAGBOEKdata) +len(MPNWAVE6_DAGBOEKdata) +  len(MPNWAVE5_DAGBOEKdata))'

In [109]:
"""MPNWAVE_DAGBOEKdata = pd.concat([MPNWAVE8_DAGBOEKdata,MPNWAVE7_DAGBOEKdata,MPNWAVE6_DAGBOEKdata,MPNWAVE5_DAGBOEKdata],ignore_index=True, sort=False)"""

'MPNWAVE_DAGBOEKdata = pd.concat([MPNWAVE8_DAGBOEKdata,MPNWAVE7_DAGBOEKdata,MPNWAVE6_DAGBOEKdata,MPNWAVE5_DAGBOEKdata],ignore_index=True, sort=False)'

In [110]:
MPNWAVE_DAGBOEKdata

,PERSOON,HHID,PERSID,HH_VALID,IMPHHDATA,P_VALID,JAAR,VPLID,WEGGEWEEST,VERTREKP,...,alokatie_metrosneltramhalte,alokatie_tramhalte,alokatie_bushalte4xpu,alokatie_bushalte2xpu,alokatie_bushalte1xpu,alokatie_bushaltekl1xpu,WOONPC2,DAGSOORT,VERTPC2,AANKPC2
0,new person,30000715,3000071501,"Not a complete household, but all persons comp...",household questionnaire is completed,person completed the questionnaire and complet...,2020,72072101.0,On this day the person did go somewhere,Own address,...,80653.0,99866.0,359.0,359.0,359.0,359.0,70,weekday,70,70
1,no new person,30000715,3000071501,"Not a complete household, but all persons comp...",household questionnaire is completed,person completed the questionnaire and complet...,2020,72072102.0,On this day the person did go somewhere,Own address,...,80814.0,100165.0,260.0,260.0,260.0,260.0,70,weekday,70,70
2,no new person,30000715,3000071501,"Not a complete household, but all persons comp...",household questionnaire is completed,person completed the questionnaire and complet...,2020,72072103.0,On this day the person did go somewhere,Own address,...,80653.0,99866.0,359.0,359.0,359.0,359.0,70,weekday,70,70
3,no new person,30000715,3000071501,"Not a complete household, but all persons comp...",household questionnaire is completed,person completed the questionnaire and complet...,2020,72072104.0,On this day the person did go somewhere,Own address,...,81532.0,100687.0,687.0,308.0,85.0,85.0,70,weekday,70,70
4,no new person,30000715,3000071501,"Not a complete household, but all persons comp...",household questionnaire is completed,person completed the questionnaire and complet...,2020,72072105.0,On this day the person did go somewhere,Own address,...,80653.0,99866.0,359.0,359.0,359.0,359.0,70,weekday,70,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40831,no new person,80000210,8000021001,Yes a complete household,household questionnaire is completed,person completed the questionnaire and complet...,2020,NaN,On this day the person did not go somewhere,On this day the person did not take a trip,...,NaN,NaN,NaN,NaN,NaN,NaN,17,weekday,On this day the person did not take a trip,On this day the person did not take a trip
40832,new person,80000215,8000021501,Yes a complete household,household questionnaire is completed,person completed the questionnaire and complet...,2020,NaN,On this day the person did not go somewhere,On this day the person did not take a trip,...,NaN,NaN,NaN,NaN,NaN,NaN,45,weekday,On this day the person did not take a trip,On this day the person did not take a trip
40833,no new person,80000215,8000021501,Yes a complete household,household questionnaire is completed,person completed the questionnaire and complet...,2020,NaN,On this day the person did not go somewhere,On this day the person did not take a trip,...,NaN,NaN,NaN,NaN,NaN,NaN,45,weekday,On this day the person did not take a trip,On this day the person did not take a trip
40834,no new person,80000215,8000021501,Yes a complete household,household questionnaire is completed,person completed the questionnaire and complet...,2020,NaN,On this day the person did not go somewhere,On this day the person did not take a trip,...,NaN,NaN,NaN,NaN,NaN,NaN,45,weekday,On this day the person did not take a trip,On this day the person did not take a trip
40835,no new person,80000215,8000021502,Yes a complete household,household questionnaire is completed,person completed the questionnaire and complet...,2020,NaN,On this day the person did not go somewhere,On this day the person did not take a trip,...,NaN,NaN,NaN,NaN,NaN,NaN,45,weekday,On this day the person did not take a trip,On this day the person did not take a trip

In [111]:
print(len(MPNWAVE_DAGBOEKdata))

40836

In [112]:
#MPNWAVE_DAGBOEKdata.to_csv('F:/more work/the netherlands/4 wave/wave8/newwwwww.csv')

In [113]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

Car as driver                                 13220
Bicycle                                        9144
Walking                                        8250
On this day the person did not take a trip     4998
Car as passenger                               2986
Other                                           804
Bus/tram/metro                                  458
NaN                                             383
Train                                           372
Scooter/moped                                   221
Name: KRVM, dtype: int64

In [114]:
MPNWAVE_DAGBOEKdata = MPNWAVE_DAGBOEKdata.dropna(subset=['KRVM'])

In [115]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

Car as driver                                 13220
Bicycle                                        9144
Walking                                        8250
On this day the person did not take a trip     4998
Car as passenger                               2986
Other                                           804
Bus/tram/metro                                  458
Train                                           372
Scooter/moped                                   221
Name: KRVM, dtype: int64

In [116]:

MPNWAVE_DAGBOEKdata = MPNWAVE_DAGBOEKdata[MPNWAVE_DAGBOEKdata['AANTRIT'] != 'On this day the person did not take a trip']

In [117]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

Car as driver       13220
Bicycle              9144
Walking              8250
Car as passenger     2986
Other                 804
Bus/tram/metro        458
Train                 372
Scooter/moped         221
Name: KRVM, dtype: int64

In [118]:
MPNWAVE_DAGBOEKdata['KRVM'].replace(['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other' , 'Means of transport not stored' , 'On this day the person did not take a trip',np.nan],[1,1,3,4,5,6,7,0,0,0,0],inplace=True)

In [119]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

1    16206
6     9144
7     8250
0      804
4      458
3      372
5      221
Name: KRVM, dtype: int64

In [120]:
MPNWAVE_DAGBOEKdata["AANTRIT"].value_counts(dropna=False)

1     32552
3      1251
2       628
4       588
5       230
7        91
6        54
8        32
9        18
11       11
Name: AANTRIT, dtype: int64

In [121]:
MPNWAVE_DAGBOEKdata['AANTRIT'] = pd.to_numeric(MPNWAVE_DAGBOEKdata['AANTRIT'], errors='coerce')

In [122]:
MPNWAVE_DAGBOEKdata['AANTRIT'].value_counts(dropna=False)

1     32552
3      1251
2       628
4       588
5       230
7        91
6        54
8        32
9        18
11       11
Name: AANTRIT, dtype: int64

In [123]:
df =pd.DataFrame()
cc = ['VPLID','AANTRIT','KRVM']
df[cc]=MPNWAVE_DAGBOEKdata[cc]

In [124]:
#df.to_csv('F:/more work/the netherlands/4 wave/wave8/new.csv')

In [125]:
df = df.astype(int)
df.sort_values(by="VPLID",inplace=True)
df = df.reset_index(drop=True)
df

          VPLID  AANTRIT  KRVM
0      72072101        1     7
1      72072102        1     6
2      72072103        1     6
3      72072104        1     6
4      72072105        1     6
...         ...      ...   ...
35450  78630102        1     6
35451  78630201        1     6
35452  78630202        1     6
35453  78630301        1     6
35454  78630302        1     6

[35455 rows x 3 columns]

In [126]:
df["KRVM"].value_counts(dropna=False)

1    16206
6     9144
7     8250
0      804
4      458
3      372
5      221
Name: KRVM, dtype: int64

In [127]:
# removing walkinng from other modes
df["new"] = -1
for i in range(len(df)):
    if df.loc[i,"new"] == -1:
        Q = [df.loc[i+x,"KRVM"] for x in range(df.loc[i,"AANTRIT"])]
        for x in range(df.loc[i,"AANTRIT"]):
            df.loc[i+x,"new"] = 0
            if 7 in Q:
                df.loc[i+x,"AANTRIT"] = df.loc[i+x,"AANTRIT"] -1*Q.count(7)
df.drop(["new"],axis=1,inplace=True)
df.drop(df[df['KRVM'] == 7].index,inplace=True)

In [128]:
df["AANTRIT"].value_counts()

1    25996
2      600
3      522
4       64
5       15
8        8
Name: AANTRIT, dtype: int64

In [129]:
df.reset_index(drop=True, inplace=True)

In [130]:
df["AANTRIT"].value_counts(dropna=False)

1    25996
2      600
3      522
4       64
5       15
8        8
Name: AANTRIT, dtype: int64

In [131]:
# set multimodality function
#df["AANTRIT"]=df['AANTRIT'].astype(int)
df = df.astype('int64')
df["multimodal"] = -1

for i in range(len(df)):
    if (df.loc[i,'multimodal'] != -1):
        continue
    if df.loc[i, 'multimodal'] == -1:
        if df.loc[i, 'AANTRIT'] > 1:
            p = [df.loc[i+x, 'KRVM'] for x in range(df.loc[i, 'AANTRIT'])]
            if len(set(p)) > 1:
                for x in range(df.loc[i, 'AANTRIT']):
                    df.loc[i+x, 'multimodal'] = 1
            else:
                for x in range(df.loc[i, 'AANTRIT']):
                    df.loc[i+x, 'multimodal'] = 0
        else:
            df.loc[i, 'multimodal'] = 0
    elif (df.loc[i,'multimodal'] != -1) & (i == len(df)):
        break

In [132]:
df["multimodal"].value_counts(dropna=False)

0    26235
1      970
Name: multimodal, dtype: int64

In [133]:
#df['KRVM'].replace([1,2,3,4,5,6,7,0],['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other'],inplace=True)
df.astype(int)
df['KRVM'].replace([2,3,4,5,6,7,0],[10**2 , 10**4 , 10**6 , 10**8 , 10**10 , 10**12 , 10**14],inplace=True)

In [134]:
df["KRVM"].value_counts()

1                  16206
10000000000         9144
100000000000000      804
1000000              458
10000                372
100000000            221
Name: KRVM, dtype: int64

In [135]:
g = df.drop(['AANTRIT', 'multimodal'], axis=1).groupby("VPLID").sum()
g1 = df.merge(g,how='inner',on='VPLID')

In [136]:
'''Modes=[]
for i in range(len(g1)):
    if (g1.loc[i,'AANTRIT']==2) & (g1.loc[i,'multimodal']==1) & ("Car as driver" in g1.loc[i,"KRVM_y"]):
        Modes.append(1)
print(len(Modes))'''

'Modes=[]\nfor i in range(len(g1)):\n    if (g1.loc[i,\'AANTRIT\']==2) & (g1.loc[i,\'multimodal\']==1) & ("Car as driver" in g1.loc[i,"KRVM_y"]):\n        Modes.append(1)\nprint(len(Modes))'

In [137]:
g1['KRVM_F'] = g1['multimodal']*g1['KRVM_y']

In [138]:
g1['KRVM_x'].replace([10**0, 10**2 , 10**4 , 10**6 , 10**8 , 10**10 , 10**12 , 10**14],['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other'],inplace=True)
new = pd.get_dummies(g1['KRVM_x'],prefix = 'Mode_')
g1 = g1.join(new)

In [139]:


H = g1.drop(['AANTRIT', 'multimodal','KRVM_x','KRVM_F','KRVM_y'],axis=1).groupby("VPLID").sum()
H1 = g1.merge(H,how='inner',on='VPLID')
H1.drop(['Mode__Bicycle_x',	'Mode__Bus/tram/metro_x',	'Mode__Car as driver_x',	'Mode__Other_x' , 'Mode__Scooter/moped_x'	,'Mode__Train_x'],axis=1,inplace=True)

In [140]:
H1.to_csv('F:/more work/the netherlands/4 wave/wave8/nnnnnn.csv',index=False)

In [167]:
M = H1[H1['multimodal']==1]
#M = M[M["AANTRIT"]>1]

In [168]:
All_Modeds = M["KRVM_F"].value_counts(normalize=True)*100
All_Modeds

10000010000        16.174583
10001010000        11.861361
1010000             9.396662
20000010000         8.164313
10001000000         6.418485
                     ...
200000000000001     0.077022
200000000010000     0.077022
1000002             0.077022
100000000010001     0.077022
100000100           0.051348
Name: KRVM_F, Length: 99, dtype: float64

In [169]:
All_Modeds.head(10)
#All_modes = pd.DataFrame({"Modes":All_Modeds.head(10).index.to_list(),"Value_counts":All_Modeds.head(10).values.tolist()})
All_modes = pd.DataFrame({"Modes":All_Modeds.index.to_list(),"Value_counts":All_Modeds.values.tolist()})

In [170]:
# convert the number of Modes
def Convert(number):
    diMode = { 0:'Car as driver' , 1:'Car as passenger' , 2:'Train' , 3:'Bus/tram/metro' , 4:'Scooter/moped' , 5:'Bicycle' , 6:'Walking' , 7:'Other'}
    X = []
    for i in range(8):
        n = number//10**(i*2)
        if n > 0:
            Baghimande = n%10**2
            if Baghimande > 0:
                X .append(str(Baghimande) +" "+ diMode[i])
    R = ' '.join(X)
    return R

In [171]:
Convert(3000000010001.0)

'1.0 Car as driver 1.0 Train 3.0 Walking'

In [172]:
All_modes["Uncoded_Modes"]=0

In [173]:
for i in range(len(All_modes)):
    All_modes["Uncoded_Modes"][i] = Convert(All_modes["Modes"][i])
All_modes

C:\Users\Reza\AppData\Local\Temp\ipykernel_5836\1699719614.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  All_modes["Uncoded_Modes"][i] = Convert(All_modes["Modes"][i])

              Modes  Value_counts                       Uncoded_Modes
0       10000010000     16.174583                   1 Train 1 Bicycle
1       10001010000     11.861361  1 Train 1 Bus/tram/metro 1 Bicycle
2           1010000      9.396662            1 Train 1 Bus/tram/metro
3       20000010000      8.164313                   1 Train 2 Bicycle
4       10001000000      6.418485          1 Bus/tram/metro 1 Bicycle
..              ...           ...                                 ...
94  200000000000001      0.077022             1 Car as driver 2 Other
95  200000000010000      0.077022                     1 Train 2 Other
96          1000002      0.077022    2 Car as driver 1 Bus/tram/metro
97  100000000010001      0.077022     1 Car as driver 1 Train 1 Other
98        100000100      0.051348  1 Car as passenger 1 Scooter/moped

[99 rows x 3 columns]

In [174]:
All_modes.to_csv('F:/more work/the netherlands/4 wave/wave8/Wave5_all_combinations_&_modes.csv',index=False)

In [182]:
H1["AANTRIT"].value_counts(dropna=False)

1    39409
2     2904
3     1728
4      316
5       75
6       30
9       27
7       14
8        8
Name: AANTRIT, dtype: int64