In [87]:
import pandas as pd
import numpy as np

In [88]:
H1 = pd.read_csv('F:/more work/the netherlands/4 wave/wave8/nnnnnn.csv')

In [89]:
H1["Mode_PT"] = H1["Mode__Bus/tram/metro_y"] + H1["Mode__Train_y"]
H1["Mode_Bicycle"] = H1["Mode__Bicycle_y"] + H1["Mode__Scooter/moped_y"]

In [90]:
H1.drop(["Mode__Bus/tram/metro_y" , "Mode__Train_y" , "Mode__Bicycle_y" , "Mode__Scooter/moped_y"], axis=1,inplace=True)

In [91]:
H1 = H1.rename(columns={"Mode__Car as driver_y":"Mode_Car","Mode__Other_y":"Mode__Other"})

In [92]:
H1

,VPLID,AANTRIT,KRVM_x,multimodal,KRVM_y,KRVM_F,Mode_Car,Mode__Other,Mode_PT,Mode_Bicycle
0,72072102,1,Bicycle,0,10000000000,0,0,0,0,1
1,72072103,1,Bicycle,0,10000000000,0,0,0,0,1
2,72072104,1,Bicycle,0,10000000000,0,0,0,0,1
3,72072105,1,Bicycle,0,10000000000,0,0,0,0,1
4,72072201,1,Bicycle,0,10000000000,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
27200,78630102,1,Bicycle,0,10000000000,0,0,0,0,1
27201,78630201,1,Bicycle,0,10000000000,0,0,0,0,1
27202,78630202,1,Bicycle,0,10000000000,0,0,0,0,1
27203,78630301,1,Bicycle,0,10000000000,0,0,0,0,1
27204,78630302,1,Bicycle,0,10000000000,0,0,0,0,1

In [93]:
H1["Mode_Choices1"]=0
H1["Mode_Choices2"]=0
H1["Mode_Choices3"]=0
H1["Mode_Choices4"]=0
H1["Mode_Choices5"]=0

In [94]:
# choice 1
for i in range(len(H1)):
    if H1.loc[i,"multimodal"] == 1:
        if ((H1.loc[i,"Mode_Car"]>0) and (H1.loc[i,"Mode_Bicycle"]==0) and (H1.loc[i,"Mode_PT"]>0)) :
            H1.loc[i,"Mode_Choices1"]=1

In [95]:
H1[H1["Mode_Choices1"]==1]

,VPLID,AANTRIT,KRVM_x,multimodal,KRVM_y,KRVM_F,Mode_Car,Mode__Other,Mode_PT,Mode_Bicycle,Mode_Choices1,Mode_Choices2,Mode_Choices3,Mode_Choices4,Mode_Choices5
189,72112101,2,Car as driver,1,10001,10001,1,0,1,0,1,0,0,0,0
190,72112101,2,Train,1,10001,10001,1,0,1,0,1,0,0,0,0
191,72112104,2,Car as driver,1,10001,10001,1,0,1,0,1,0,0,0,0
192,72112104,2,Train,1,10001,10001,1,0,1,0,1,0,0,0,0
1327,72407201,3,Bus/tram/metro,1,1010001,1010001,1,0,2,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25204,77985101,2,Car as driver,1,10001,10001,1,0,1,0,1,0,0,0,0
26387,78343101,2,Train,1,10001,10001,1,0,1,0,1,0,0,0,0
26388,78343101,2,Car as driver,1,10001,10001,1,0,1,0,1,0,0,0,0
26389,78343102,2,Car as driver,1,10001,10001,1,0,1,0,1,0,0,0,0
26390,78343102,2,Train,1,10001,10001,1,0,1,0,1,0,0,0,0

In [96]:
H1["Mode_Choices1"].value_counts(dropna=False)

0    27077
1      128
Name: Mode_Choices1, dtype: int64

In [97]:
# choice 2
for i in range(len(H1)):
    if H1.loc[i,"multimodal"] == 1:
        if ((H1.loc[i,"Mode_Bicycle"]>0) and (H1.loc[i,"Mode_PT"]==1) and (H1.loc[i,"Mode_Car"]==0)) :
            H1.loc[i,"Mode_Choices2"]=1

In [98]:
H1["Mode_Choices2"].value_counts(dropna=False)

0    26895
1      310
Name: Mode_Choices2, dtype: int64

In [99]:
# choice 3
for i in range(len(H1)):
    if H1.loc[i,"multimodal"] == 1:
        if ((H1.loc[i,"Mode_Bicycle"]>0) and (H1.loc[i,"Mode_PT"]>1) and (H1.loc[i,'Mode_Car']==0)):
            H1.loc[i,"Mode_Choices3"]=1

In [100]:
H1["Mode_Choices3"].value_counts(dropna=False)

0    26989
1      216
Name: Mode_Choices3, dtype: int64

In [101]:
# choice 4
for i in range(len(H1)):
    if H1.loc[i,"multimodal"] == 1:
        if ((H1.loc[i,"Mode_Bicycle"]==0) and (H1.loc[i,"Mode_PT"]>1) and (H1.loc[i,"Mode__Other"]==0) and (H1.loc[i,"Mode_Car"]==0)):
            H1.loc[i,"Mode_Choices4"]=1

In [102]:
H1["Mode_Choices4"].value_counts(dropna=False)

0    27035
1      170
Name: Mode_Choices4, dtype: int64

In [103]:
# choice 5
for i in range(len(H1)):
    if H1.loc[i,"multimodal"] == 1:
        if ((H1.loc[i,"Mode_Choices1"]==0) and (H1.loc[i,"Mode_Choices2"]==0) and (H1.loc[i,"Mode_Choices3"]==0) and (H1.loc[i,"Mode_Choices4"]==0)):
            H1.loc[i,"Mode_Choices5"]=1

In [104]:
H1["Mode_Choices5"].value_counts(dropna=False)

0    27059
1      146
Name: Mode_Choices5, dtype: int64

In [105]:
H1["multimodal"].value_counts(dropna=False)

0    26235
1      970
Name: multimodal, dtype: int64

In [106]:
H2 = H1[H1["Mode__Other"]==1]

In [107]:
H2["Mode_Car"].value_counts(normalize=True)*100

0    96.510229
2     2.527076
1     0.962696
Name: Mode_Car, dtype: float64

In [108]:
H1.to_csv('F:/more work/the netherlands/4 wave/wave8/newchoices.csv',index=False)