In [133]:
import pandas as pd
import numpy as np

In [134]:
#MPNWAVE8_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave8/MPNWAVE8_DAGBOEKdata.csv')
#MPNWAVE7_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave7/MPNWAVE7_DAGBOEKdata.csv')
#MPNWAVE6_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave6/MPNWAVE6_DAGBOEKdata.csv')
MPNWAVE_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave5/MPNWAVE5_DAGBOEKdata.csv')

C:\Users\Reza\AppData\Local\Temp\ipykernel_5836\3539217140.py:4: DtypeWarning: Columns (11,14,17,84) have mixed types. Specify dtype option on import or set low_memory=False.
  MPNWAVE_DAGBOEKdata = pd.read_csv('F:/more work/the netherlands/4 wave/wave5/MPNWAVE5_DAGBOEKdata.csv')

In [135]:
"""print(len(MPNWAVE8_DAGBOEKdata))
print(len(MPNWAVE7_DAGBOEKdata))
print(len(MPNWAVE6_DAGBOEKdata))
print(len(MPNWAVE5_DAGBOEKdata))
print(len(MPNWAVE8_DAGBOEKdata)+ len(MPNWAVE7_DAGBOEKdata) +len(MPNWAVE6_DAGBOEKdata) +  len(MPNWAVE5_DAGBOEKdata))"""

'print(len(MPNWAVE8_DAGBOEKdata))\nprint(len(MPNWAVE7_DAGBOEKdata))\nprint(len(MPNWAVE6_DAGBOEKdata))\nprint(len(MPNWAVE5_DAGBOEKdata))\nprint(len(MPNWAVE8_DAGBOEKdata)+ len(MPNWAVE7_DAGBOEKdata) +len(MPNWAVE6_DAGBOEKdata) +  len(MPNWAVE5_DAGBOEKdata))'

In [136]:
#MPNWAVE_DAGBOEKdata = pd.concat([MPNWAVE8_DAGBOEKdata,MPNWAVE7_DAGBOEKdata,MPNWAVE6_DAGBOEKdata,MPNWAVE5_DAGBOEKdata],ignore_index=True, sort=False)

In [137]:
print(len(MPNWAVE_DAGBOEKdata))

61177

In [138]:
#MPNWAVE_DAGBOEKdata.to_csv('F:/more work/the netherlands/4 wave/wave8/newwwwww.csv')

In [139]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

Car as driver                    19759
Bicycle                          14159
Walking                          12890
Car as passenger                  5432
Means of transport not stored     2759
Bus/tram/metro                    1834
Other                             1463
Train                             1390
NaN                               1017
Scooter/moped                      474
Name: KRVM, dtype: int64

In [140]:
MPNWAVE_DAGBOEKdata = MPNWAVE_DAGBOEKdata.dropna(subset=['KRVM'])

In [141]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

Car as driver                    19759
Bicycle                          14159
Walking                          12890
Car as passenger                  5432
Means of transport not stored     2759
Bus/tram/metro                    1834
Other                             1463
Train                             1390
Scooter/moped                      474
Name: KRVM, dtype: int64

In [142]:

MPNWAVE_DAGBOEKdata = MPNWAVE_DAGBOEKdata[MPNWAVE_DAGBOEKdata['AANTRIT'] != 'On this day the person did not take a trip']

In [143]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

Car as driver       19759
Bicycle             14159
Walking             12890
Car as passenger     5432
Bus/tram/metro       1834
Other                1463
Train                1390
Scooter/moped         474
Name: KRVM, dtype: int64

In [144]:
MPNWAVE_DAGBOEKdata['KRVM'].replace(['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other' , 'Means of transport not stored' , 'On this day the person did not take a trip',np.nan],[1,2,3,4,5,6,7,0,0,0,0],inplace=True)

In [145]:
MPNWAVE_DAGBOEKdata["KRVM"].value_counts(dropna=False)

1    19759
6    14159
7    12890
2     5432
4     1834
0     1463
3     1390
5      474
Name: KRVM, dtype: int64

In [146]:
MPNWAVE_DAGBOEKdata["AANTRIT"].value_counts(dropna=False)

1.0     42884
3.0      4082
1.0      3254
2.0      2140
4.0      1879
3.0       877
5.0       645
4.0       609
2.0       290
6.0       234
5.0       150
7.0        84
6.0        48
8.0        48
11.0       33
7.0        28
9.0        27
12.0       24
9.0        18
16.0       16
13.0       13
10.0       10
8.0         8
Name: AANTRIT, dtype: int64

In [147]:
MPNWAVE_DAGBOEKdata['AANTRIT'] = pd.to_numeric(MPNWAVE_DAGBOEKdata['AANTRIT'], errors='coerce')

In [148]:
MPNWAVE_DAGBOEKdata['AANTRIT'].value_counts(dropna=False)

1.0     46138
3.0      4959
4.0      2488
2.0      2430
5.0       795
6.0       282
7.0       112
8.0        56
9.0        45
11.0       33
12.0       24
16.0       16
13.0       13
10.0       10
Name: AANTRIT, dtype: int64

In [149]:
df =pd.DataFrame()
cc = ['VPLID','AANTRIT','KRVM']
df[cc]=MPNWAVE_DAGBOEKdata[cc]

In [150]:
#df.to_csv('F:/more work/the netherlands/4 wave/wave8/new.csv')

In [151]:
df = df.astype(int)
df.sort_values(by="VPLID",inplace=True)
df = df.reset_index(drop=True)
df

        VPLID  AANTRIT  KRVM
0      530190        1     1
1      530192        1     1
2      530194        1     1
3      530199        1     7
4      530203        1     1
...       ...      ...   ...
57396  666686        1     6
57397  666689        1     6
57398  666691        1     6
57399  666694        1     6
57400  666696        1     6

[57401 rows x 3 columns]

In [152]:
df["KRVM"].value_counts(dropna=False)

1    19759
6    14159
7    12890
2     5432
4     1834
0     1463
3     1390
5      474
Name: KRVM, dtype: int64

In [153]:
# removing walkinng from other modes
df["new"] = -1
for i in range(len(df)):
    if df.loc[i,"new"] == -1:
        Q = [df.loc[i+x,"KRVM"] for x in range(df.loc[i,"AANTRIT"])]
        for x in range(df.loc[i,"AANTRIT"]):
            df.loc[i+x,"new"] = 0
            if 7 in Q:
                df.loc[i+x,"AANTRIT"] = df.loc[i+x,"AANTRIT"] -1*Q.count(7)
df.drop(["new"],axis=1,inplace=True)
df.drop(df[df['KRVM'] == 7].index,inplace=True)

In [154]:
df["AANTRIT"].value_counts()

1    39409
2     2904
3     1728
4      316
5       75
6       30
9       27
7       14
8        8
Name: AANTRIT, dtype: int64

In [155]:
df.reset_index(drop=True, inplace=True)

In [156]:
df["AANTRIT"].value_counts(dropna=False)

1    39409
2     2904
3     1728
4      316
5       75
6       30
9       27
7       14
8        8
Name: AANTRIT, dtype: int64

In [157]:
# set multimodality function
#df["AANTRIT"]=df['AANTRIT'].astype(int)
df = df.astype('int64')
df["multimodal"] = -1

for i in range(len(df)):
    if (df.loc[i,'multimodal'] != -1):
        continue
    if df.loc[i, 'multimodal'] == -1:
        if df.loc[i, 'AANTRIT'] > 1:
            p = [df.loc[i+x, 'KRVM'] for x in range(df.loc[i, 'AANTRIT'])]
            if len(set(p)) > 1:
                for x in range(df.loc[i, 'AANTRIT']):
                    df.loc[i+x, 'multimodal'] = 1
            else:
                for x in range(df.loc[i, 'AANTRIT']):
                    df.loc[i+x, 'multimodal'] = 0
        else:
            df.loc[i, 'multimodal'] = 0
    elif (df.loc[i,'multimodal'] != -1) & (i == len(df)):
        break

In [158]:
df["multimodal"].value_counts(dropna=False)

0    40616
1     3895
Name: multimodal, dtype: int64

In [159]:
#df['KRVM'].replace([1,2,3,4,5,6,7,0],['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other'],inplace=True)
df.astype(int)
df['KRVM'].replace([2,3,4,5,6,7,0],[10**2 , 10**4 , 10**6 , 10**8 , 10**10 , 10**12 , 10**14],inplace=True)

In [160]:
df["KRVM"].value_counts()

1                  19759
10000000000        14159
100                 5432
1000000             1834
100000000000000     1463
10000               1390
100000000            474
Name: KRVM, dtype: int64

In [161]:
g = df.drop(['AANTRIT', 'multimodal'], axis=1).groupby("VPLID").sum()
g1 = df.merge(g,how='inner',on='VPLID')

In [162]:
'''Modes=[]
for i in range(len(g1)):
    if (g1.loc[i,'AANTRIT']==2) & (g1.loc[i,'multimodal']==1) & ("Car as driver" in g1.loc[i,"KRVM_y"]):
        Modes.append(1)
print(len(Modes))'''

'Modes=[]\nfor i in range(len(g1)):\n    if (g1.loc[i,\'AANTRIT\']==2) & (g1.loc[i,\'multimodal\']==1) & ("Car as driver" in g1.loc[i,"KRVM_y"]):\n        Modes.append(1)\nprint(len(Modes))'

In [163]:
g1['KRVM_F'] = g1['multimodal']*g1['KRVM_y']

In [164]:
g1['KRVM_x'].replace([10**0, 10**2 , 10**4 , 10**6 , 10**8 , 10**10 , 10**12 , 10**14],['Car as driver' , 'Car as passenger' , 'Train' , 'Bus/tram/metro' , 'Scooter/moped' , 'Bicycle' , 'Walking' , 'Other'],inplace=True)
new = pd.get_dummies(g1['KRVM_x'],prefix = 'Mode_')
g1 = g1.join(new)

In [165]:


H = g1.drop(['AANTRIT', 'multimodal','KRVM_x','KRVM_F','KRVM_y'],axis=1).groupby("VPLID").sum()
H1 = g1.merge(H,how='inner',on='VPLID')
H1.drop(['Mode__Bicycle_x',	'Mode__Bus/tram/metro_x',	'Mode__Car as driver_x',	'Mode__Car as passenger_x',	'Mode__Other_x' , 'Mode__Scooter/moped_x'	,'Mode__Train_x'],axis=1,inplace=True)

In [177]:
H1.to_csv('F:/more work/the netherlands/4 wave/wave8/nnnnnn.csv',index=False)

In [167]:
M = H1[H1['multimodal']==1]
#M = M[M["AANTRIT"]>1]

In [168]:
All_Modeds = M["KRVM_F"].value_counts(normalize=True)*100
All_Modeds

10000010000        16.174583
10001010000        11.861361
1010000             9.396662
20000010000         8.164313
10001000000         6.418485
                     ...
200000000000001     0.077022
200000000010000     0.077022
1000002             0.077022
100000000010001     0.077022
100000100           0.051348
Name: KRVM_F, Length: 99, dtype: float64

In [169]:
All_Modeds.head(10)
#All_modes = pd.DataFrame({"Modes":All_Modeds.head(10).index.to_list(),"Value_counts":All_Modeds.head(10).values.tolist()})
All_modes = pd.DataFrame({"Modes":All_Modeds.index.to_list(),"Value_counts":All_Modeds.values.tolist()})

In [170]:
# convert the number of Modes
def Convert(number):
    diMode = { 0:'Car as driver' , 1:'Car as passenger' , 2:'Train' , 3:'Bus/tram/metro' , 4:'Scooter/moped' , 5:'Bicycle' , 6:'Walking' , 7:'Other'}
    X = []
    for i in range(8):
        n = number//10**(i*2)
        if n > 0:
            Baghimande = n%10**2
            if Baghimande > 0:
                X .append(str(Baghimande) +" "+ diMode[i])
    R = ' '.join(X)
    return R

In [171]:
Convert(3000000010001.0)

'1.0 Car as driver 1.0 Train 3.0 Walking'

In [172]:
All_modes["Uncoded_Modes"]=0

In [173]:
for i in range(len(All_modes)):
    All_modes["Uncoded_Modes"][i] = Convert(All_modes["Modes"][i])
All_modes

C:\Users\Reza\AppData\Local\Temp\ipykernel_5836\1699719614.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  All_modes["Uncoded_Modes"][i] = Convert(All_modes["Modes"][i])

              Modes  Value_counts                       Uncoded_Modes
0       10000010000     16.174583                   1 Train 1 Bicycle
1       10001010000     11.861361  1 Train 1 Bus/tram/metro 1 Bicycle
2           1010000      9.396662            1 Train 1 Bus/tram/metro
3       20000010000      8.164313                   1 Train 2 Bicycle
4       10001000000      6.418485          1 Bus/tram/metro 1 Bicycle
..              ...           ...                                 ...
94  200000000000001      0.077022             1 Car as driver 2 Other
95  200000000010000      0.077022                     1 Train 2 Other
96          1000002      0.077022    2 Car as driver 1 Bus/tram/metro
97  100000000010001      0.077022     1 Car as driver 1 Train 1 Other
98        100000100      0.051348  1 Car as passenger 1 Scooter/moped

[99 rows x 3 columns]

In [174]:
All_modes.to_csv('F:/more work/the netherlands/4 wave/wave8/Wave5_all_combinations_&_modes.csv',index=False)

In [182]:
H1["AANTRIT"].value_counts(dropna=False)

1    39409
2     2904
3     1728
4      316
5       75
6       30
9       27
7       14
8        8
Name: AANTRIT, dtype: int64